# Data Science Tools

This notebook contains a very high level overview of Data Science Tools.
It will have only basic level information just for assignment practice purposes.

**Data Science Languages**
- Python
- R
- Scala
- Julia
- SQL

These are mostly used, but there are other languages as well.

**Data Science Libraries**
- Python : Numpy,Pandas,Tensor-Flow,SciPy,Matplotlib,PyTorch
- R - ggplot,dplyr,caret,leaflet,Stringr
- Scala - Scalaz

These are exampes of few libraries.There are tons of libraries available in the field of data sceinse for different purposes.

**Data Science Tools**
- Jupytor Notebook
- TensorFlow
- Watson Studio
- Git
- Tableau
- Apache Spark
- Hadoop

In General, Data Science Languages Python,R,SQL and many other platforms can be used as Data science tools

**Arithmetic Expression Examples**

In [5]:
2-7+6*200/30

35.0

Minutes to hours

In [12]:
x=5
print(str(x)+' minutes is equals '+str(round(x/60,2))+' hours')

5 minutes is equals 0.08 hours

**Objectives**
- Overview of some Data Science Languages
- Overview of Data Science Libraries
- Overview of Data Sciense tools
- Sample exercises using Jupyter Notebook.

Learner Name : Mr. Mehta